



@model MvcApplication7.Models.Event
@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>

<form action="/Home/UpdateConfirm/@Model.Id" method="post">
    Name <input type="text" name="Name" value ="@Model.Name" /> <br/ >
   Date <input type="text" name="Date" value ="@Model.Date" /> <br/ >
  Duration <input type="text" name="Date" value ="@Model.Duration" /> <br/ >
   

    <input type ="submit" value="Add" />

</form>